.card__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.card {
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: min-content min-content min-content;
  list-style-type: none;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}
.card__preview {
  height: 195px;
}
.card__text {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  cursor: pointer;
  margin: 0;
  margin-bottom: 6px;
}
.card__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin: 0;
}
.card__text-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  margin: 0;
}
.card__title {
  border: 1px solid #ececec;
  border-bottom: none;
  padding: 27px 28px 17px 28px;
}
.card__title-link {
  text-decoration: none;
}
.card__price {
  border: 1px solid #ececec;
  border-top: none;
  padding: 23px 22px 27px 29px;
  position: relative;
}
.card__price::after {
  box-shadow: inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
  width: 204px;
  height: 1px;
  position: absolute;
  content: "";
  top: 0;
}
.card__price--add-cart {
  position: absolute;
  top: 12px;
  right: 17px;
  padding: 10px;
  opacity: 0.2;
  fill: #000000;
  color: #000000;

  &:hover {
    opacity: 1;
    fill: #63d1bb;
    color: #63d1bb;
  }

  &:active {
    opacity: 0.3;
    fill: #63d1bb;
    color: #63d1bb;
  }
}
@media (min-width: @tablet-width) {
  .card {
    grid-template-columns: 334px 335px;
    grid-template-rows: 260px min-content;
    margin-bottom: 53px;
  }
  .card__wrapper {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }
  .card__preview {
    height: 334px;
  }
  .card__text {
    font-size: 20px;
    line-height: 24px;
    max-width: 242px;
  }
  .card__description {
    font-size: 15px;
    line-height: 30px;
  }
  .card__title {
    border-left: none;
    border-bottom: none;
    padding: 28px 28px 17px 32px;
    }
  .card__price {
    grid-column: 2/2;
    border: 1px solid #ececec;
    border-top: none;
    padding: 26px 22px 25px 34px;
  }
  .card__price--add-cart {
    right: 22px;

    &:hover {
      fill: #63d1bb;
    }
  }
  .card__price::after {
    box-shadow: inset 0 1px 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5;
    width: 268px;
    height: 1px;
    position: absolute;
    content: "";
    top: 1px;
    right: 33px;
  }
  .card__text-price {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }
}
@media (min-width: @desktop-width) {
  .card__wrapper {
    width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 315px 315px 315px;
    column-gap: 51px;
    margin-bottom: 57px;
  }
  .card {
    grid-template-columns: 316px;
    grid-template-rows: min-content min-content min-content;
    margin-bottom: 0;

    &:hover {
      outline: 1px solid #ececec;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    }
    &:active {
      outline: 1px solid #ececec;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .card__title {
    border: 1px solid #ececec;
    border-bottom: none;
    padding: 28px 28px 0 28px;
    grid-row: 2;
    min-height: 94px;
  }
  .card__title-link {

    &:hover {
      color: #000000;
      opacity: 0.6;
    }
    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
  .card__preview {
    height: 462px;
  }
  .card__price {
    grid-column: 1;
    grid-row: 3;
    padding: 25px 22px 25px 31px;
    border-top: none;
  }
  .card__price--add-cart {
    right: 20px;
    top: 15px;
  }
  .card__text {
    margin-bottom: 6px;
  }
  .card__description {
    margin: 0;
  }
  .card__price::after {
    width: 255px;
    height: 1px;
  }
}
