.categories__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.categories__item {
  background: #56C3B2;
  padding: 24px 0 31px 0;
  color: #ffffff;
}

.categories__title {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  width: 160px;
  margin: 0 auto;
}
