.contacts-wrapper {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-column: 260px;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.contacts-email {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  text-decoration: none;
}
.contacts-email:hover {
  color: #46C1AE;
}
.contacts-email:active {
  color: #46C1AE;
}
.contacts__block {
  display: grid;
  grid-template-columns: 76px  193px;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 30px 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contacts__details--border {
  border-bottom: 1px solid #62D1BA;
  width: 180px;
  min-height: 30px;
}
.contacts__details--border:active {
  color: #46C1AE;
  opacity: 0.1;
}

@media (min-width: @tablet-width) {
  .contacts {
  box-sizing: border-box;
}
  .contacts-wrapper {
    margin: 0 auto;
    width: 768px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
  }
  .contacts-wrapper::before {
    content: "";
    position: absolute;
    top: -14px;
    right: 49px;
    width: 47px;
    height: 81px;
    background-image: url(../img/icon-flag.svg);
    background-repeat: no-repeat;
  }
  .contacts__block {
  display: grid;
  grid-template-columns: 75px  225px 75px 234px;
  grid-template-rows: min-content;
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    margin-top: 0;
    margin-bottom: 49px;
  }
  .contacts__details {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #444444;
  }

  .contacts__details--border {
    border-bottom: 1px solid #62D1BA;
    width: 204px;
    height: 30px;
  }
  .contacts__address {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #444444;
  }
  .contacts-svg {
    position: absolute;
    right: 0;
    top: -14px;
  }
  .contacts-button {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    padding: 0 50px 0 225px;
    margin: 0 auto;
    margin-bottom: 105px;
  }
  .contacts-wrapper {
    padding: 0;
    margin: 0;
    position: relative;
    grid-template-columns: 291px;
    width: 348px;
    column-gap: 58px;
    z-index: -1;
  }
  .contacts-wrapper::before {
    content: "";
    top: 60px;
    left: -113px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    margin-top: 78px;
  }
  .contacts__block {
    display: grid;
    grid-template-columns: 70px  235px;
    grid-template-rows: min-content min-content min-content;
    grid-gap: 30px 10px;
    list-style-type: none;
    margin: 0;
    margin-bottom: 18px;
    grid-row: 2;
  }
  .contacts__address {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #444444;
  }
  .contacts__details {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #444444;
  }

  .contacts-svg {
    position: absolute;
    left: -104px;
    top: 20px;
  }

  .contacts__details--border {
    width: 204px;
    border-bottom: 1px solid #62D1BA;
  }
  .contacts-button {
    margin-bottom: 0;
  }
  .contacts-button:hover {
    color: rgb(255, 255, 255);
  }
  .contacts-button:active {
    color: rgb(255, 255, 255, 0.3);
  }
}
