.contacts-map {
  margin-bottom: 42px;
  position: relative;
}
.contacts-map::after {
  content: "";
  position: absolute;
  top: 37%;
  right: 44%;
  width: 66px;
  height: 100px;
  background-image: url(../img/map-pin.svg);
  background-repeat: no-repeat;
}
.contacts-map iframe {
  display: block;
}


@media (min-width: @tablet-width) {
  .contacts-map {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-map {
    width: 527px;
    height: 457px;
    margin: 0;
  }
}
