.contacts-map {
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .contacts-map {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .contacts-map {
    width: 527px;
    height: 457px;
  }
}
