.contacts-button {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  background: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 39px;
  margin: 0 auto;
}
