.form-order {
  display: flex;
  flex-direction: column;
}
.form-order__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 30px;
}
.form-order__line {
  position: relative;
}
.form-order__line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  height: 1px;
  width: 200px;
  background-color: #62D1BA;
}
.form-order__color {
  padding: 0;
  margin: 0;
}

.form-order__type {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 31px;
}

.form-order__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #63D1BB;
  margin-bottom: 35px;
}
.form-order__list {
  padding: 0;
  padding-top: 25px;
  margin: 0;
  list-style-type: none;
}
.form-order__list-type{
  padding: 0;
  padding-top: 30px;
  margin: 0;
  list-style-type: none;
}

.form-order__item {
  margin-bottom: 24px;
}
.form-order__item-type {
  margin-bottom: 24px;
}
.form-order__color {
  border: none;
}

.control {
  position: relative;
  display: block;
  padding: 9px 0 10px 60px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  border: 2px solid #444444;
  background: #ffffff;
}
.control-input[type="radio"] + .control-mark:hover {
  border: 2px solid #62D1BA;
}
.control-input[type="radio"] + .control-mark:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 18px;
  height: 18px;
  background-color: #62D1BA;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../img/icon-checkbox.svg");
  width: 24px;
  height: 17px;
  top: 12px;
  left: 8px;
  content: "";
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  border: 2px solid #444444;
}
.control-mark:hover {
  border: 2px solid #62D1BA;
}
.control-mark:active {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.control-label {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .form-order__wrapper {
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: 0 auto;
    padding-left: 50px;
  }
  .form-order__line::before {
    display: none;
  }
  .form-order__color {
    padding: 50px 0;
    background: #F1F1F1;
  }
  .form-order__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77%;
    margin-left: 93px;
    padding-top: 0;
  }
  .form-order__type {
    display: flex;
    flex-direction: row;
    padding: 63px 0 50px 0;
    margin: 0;
  }
  .form-order__title {
    margin-top: 18px;
    width: 74px;
  }
  .form-order__item {
    margin-bottom: 24px;
    width: 239px;
  }
  .form-order__item:last-child {
    margin-bottom: 0;
  }
  .form-order__list-type{
    margin-left: 103px;
    padding-top: 0;
  }
  .form-order__item-type {
    margin-bottom: 40px;
  }
  .control-label {
    font-size: 19px;
  }
  .control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    background: #F1F1F1;
    box-sizing: border-box;
  }
  .control-input[type="radio"]:checked + .control-mark::before,
  .control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 22px;
  height: 22px;
  }
  .control-input[type="checkbox"]:checked + .control-mark::before,
  .control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  top: 16px;
  left: 12px;
  }
  .control {
    position: relative;
    display: block;
    padding: 14px 0 14px 78px;
  }
}

@media (min-width: @desktop-width) {
  .form-order__wrapper {
    display: flex;
    flex-direction: row;
    width: 1150px;
    margin: 0 auto;
    padding-left: 97px;
  }
  .form-order__list-type {
    margin-left: 63px;
  }
  .form-order__list {
    margin-left: 55px;
    width: 69%;
  }
  .form-order__color {
    padding: 50px 0;
    background: #F1F1F1;
  }
  .form-order__title {
    margin-top: 18px;
    width: 65px;
  }
  .form-order__item {
    margin-bottom: 24px;
    width: 262px;
  }
}
