  .main-footer {
    background: #F1F1F1;
    margin-top: 54px;
  }

  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 260px;
    padding: 28px 39px 0 39px;
    box-sizing: border-box;
  }

  .main-footer__contacts {
    width: 260px;
    margin: 0 auto;
  }
  .main-footer__logo {
    display: block;
    display: none;
  }
  .main-footer__social {
    padding-left: 21px;
    position: relative;
  }
  .main-footer__social::after {
    border-bottom: 1px solid #E5E5E5;
    width: 260px;
    content: "";
    top: 51px;
    left: -37px;
    position: absolute;
  }

  .main-footer__copyright {
    display: flex;
    margin-bottom: 32px;
  }

@media (min-width: @tablet-width) {
  .main-footer {
    margin-top: 0;
  }
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    padding: 50px 50px 58px 50px;
    box-sizing: border-box;
  }
  .main-footer__contacts {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }
  .main-footer__logo {
    display: block;
  }
  .main-footer__logo-wrapper {
    height: 34px;
  }
  .main-footer__social {
    padding-left: 12px;
  }
  .main-footer__copyright {
    display: flex;
    margin: 0;
  }
  .main-footer__logo-image {
    color: #000000;
  }
  .main-footer__social::after {
    border:none
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 48px 50px 58px 50px;
    box-sizing: border-box;
  }
  .main-footer__contacts {
    width: 1150px;
    display: flex;
  }
  .main-footer__social {
    padding-left: 9px;
  }
  .main-footer__logo-image {
    color: #000000;
  }
  .main-footer__logo-image:hover {
    fill: #46C1AE;
    color: #46C1AE;
  }
  .main-footer__logo-image:active {
    fill: #46C1AE;
    color: #46C1AE;
    opacity: 0.3;
  }
  .main-footer__social::after {
    border:none
  }
}
