.main-footer__social {
  background: #F1F1F1;
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  padding: 32px 39px;
  background: #F1F1F1;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  margin-right: 27px;
  align-self: center;
}

.copyright__logo {
  height: 34px;
}

.copyright__link {
  height: 34px;
}
