.main-footer {
  background: #F1F1F1;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 69px;
  box-sizing: border-box;
}

.main-footer__contacts {
  width: 260px;
  margin: 0 auto;
}
.main-footer__logo {
  display: block;
  display: none;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  padding: 32px 39px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 50px 58px 50px;
    box-sizing: border-box;
  }
  .main-footer__contacts {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }
  .main-footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 56px 50px 58px 50px;
    box-sizing: border-box;
  }
  .main-footer__contacts {
    width: 1150px;
    display: flex;
  }
}
