.main-header {
  margin: 0 auto;
  background-color: #fdfdfd;
}

.main-header__logo {
  background-image: url("../img/mishka-logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
  margin: 26px auto;
  height: 35px;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 768px;
    height: 86px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-header__logo {
    width: 113px;
    height: 46px;
    background-image: url("../img/mishka-logo-tablet.svg");
    margin: 21px auto;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .main-header__logo{
    background-image: url("../img/mishka-logo-desktop.svg");
    background-repeat: no-repeat;
    width: 150px;
    margin: 9px auto;
    height: 72px;
  }
  .main-header__link--image {
    margin-right: 100px;
  }
}
