.make-order {
  display: block;
  width: 192px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  background: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .make-order {
    width: 584px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .make-order {
    width: 230px;
  }
}
