.modal-order {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
}
.modal-order__wrapper {
  position: fixed;
  top: 55%;
  height: 336px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
  transform: translate(-50%,-50%);
  left: 50%;
}
.modal-order__inner {
  padding: 28px 40px 46px 30px;
}
.modal-order__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
}
.modal-order__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}
.modal-order-size__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  color: #444444;
  width: 82px;
  margin-right: 7px;
  background: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}
.modal-order-size__button:nth-child(3) {
  margin-right: 0;
}
.modal-order-size__add {
  width: 260px;
  background: #63D1BB;
  border: none;
  margin-top: 31px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  padding: 18px 0;
  text-transform:uppercase;

  &:hover {
    background-color: #56C3B2;
    border: none;
  }
  &:active {
    color: hsla(0,0%,100%,.3);
  }
}
.modal-order-size {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.checkbox__label--size {
  display: block;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px rgb(68 68 68 / 10%);
}
.checkbox__control:checked+ .checkbox__label--size {
  box-shadow: inset 0 0 0 2px #63d1bb;
}
.checkbox__control:hover+ .checkbox__label--size {
  box-shadow: inset 0 0 0 2px rgb(68 68 68 / 30%);
}
@media (min-width: @tablet-width) {
  .modal-order {
    box-shadow: 0 0 0 1px #e5e5e5;
  }
  .modal-order__wrapper {
    width: 566px;
  }
  .modal-order__title {
    font-size: 30px;
    line-height: 57px;
    font-weight: 700;
  }
  .modal-order-size__button {
    width: 112px;
  }
  .modal-order-size__add {
    width: 350px;
  }
}
