.order-container-title {
  margin-bottom: 30px;
  background: #F1F1F1;
}

.order-container-title__wrapper {
  width: 260px;
  margin: 0 auto;
}

.order-container-title__name {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  padding: 72px 0;
  margin: 0;
  margin-bottom: 17px;
  background: #F1F1F1;
}

