.order-container {
  background-color: #ffffff;
}

.order-container__wrapper {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .order-container__wrapper {
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .order-container__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 97px;
    box-sizing: border-box;
  }
}
