.preview {
  background-color: #F9F9F9;
}
.preview__wrapper {
  margin: 0 auto;
}

.preview__name {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  padding: 70px 0 177px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.preview__header {
  background-image: url("../img/preview-desktop.jpg");
  background-size: 575px 373px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FAFAFA;
}

@media (min-width: @tablet-width) {
  .preview__header {
    width: 768px;
    height: 746px;
    background-image: url("../img/preview-desktop.jpg");
    background-size: auto auto;
    background-repeat: repeat-x;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/preview-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }
  .preview__wrapper {
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .preview__name {
    font-size: 43px;
    line-height: 50px;
    padding: 156px 0 120px;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .preview__wrapper {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .preview__header {
    width: 1150px;
    height: 746px;
    background-image: url("../img/preview-desktop.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    }

  .preview__name {
    font-size: 53px;
    line-height: 57px;
    padding: 157px 0 120px;
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }
}
