.preview-name {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  padding: 90px 0 120px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.preview__header {
  width: 100%;
  background-image: url("/img/preview-mobile.jpg");
  background-size: auto auto;
  background-repeat: no-repeat;
}
