.product-card-title {
  margin-bottom: 30px;
  background: #F1F1F1;
}

.product-card-title__wrapper {
  width: 260px;
  margin: 0 auto;
}

.product-card-title__name {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  padding: 72px 0;
  margin: 0;
  margin-bottom: 30px;
  background: #F1F1F1;
}

@media (min-width: @tablet-width) {
  .product-card-title__wrapper {
    width: 768px;
    padding-left: 183px;
    margin: 0 auto;
  }
  .product-card-title__name {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    padding: 72px 0;
    margin: 0;
    margin-bottom: 30px;
    background: #F1F1F1;
  }
}
