.reviews__wrapper {
  width: 260px;
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: min-content min-content min-content min-content;
  margin: 0 auto;
  margin-bottom: 89px;
  padding: 0 30px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
}

.reviews__item {
  grid-row: 2/-2;
  margin: 0;
}
.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  padding: 0;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.reviews__write {
  display: block;
  width: 260px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  background: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
}

.reviews__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}
.reviews__prev {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
}

.reviews__next {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 668px;
    display: grid;
    grid-template-columns: 493px 175px;
    grid-template-rows: min-content min-content min-content min-content;
    margin: 0 auto;
    margin-bottom: 89px;
    padding: 0 50px;
  }

  .reviews__container {
    grid-row: 3;
    margin: 0;
  }
  .reviews__write {
  width: 175px;
  }

  .reviews__write-wpapper {
    margin-bottom: 40px;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: #000000;
    padding: 0;
  }

  .reviews__author-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }

  .reviews__text {
    font-size: 17px;
    margin: 0;
  }

  .reviews__author-info {
    width: 668px;
    margin: 0;
    margin-bottom: 61px;
    }
  .reviews__author-nick {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
  .reviews__prev {
    width: 85px;
  }
  .reviews__next {
    width: 85px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 1150px;
    grid-template-columns: 700px 175px;
    grid-template-rows: min-content min-content min-content min-content;
    padding: 0 225px;
    box-sizing: border-box;
    margin-bottom: 161px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    color: #000000;
    padding: 0;
  }
  .reviews__author-info {
    width: 875px;
  }
}
