.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  padding: 0;
}

.reviews__item {
  margin: 0;
}
.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  padding: 0;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.reviews__write {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  background: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
}

.reviews__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}
.reviews__prev {
  display: block;
  width: 129px;
  height: 52px;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
}

.reviews__next {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
}

