.video {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.video__text {
  width: 156px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  padding: 22px 13px 0 91px;
  margin: 0;
  margin-bottom: 26px;
}

.video__promo-text {
  padding-left: 34px;
}

.video__image {
  margin-bottom: 35px;
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin: 0;
  margin-bottom: 41px;
}
